/* CSS IMPORT */
@import url(./css/header.css);
@import url(./css/main.css);
@import url(./css/projetos.css);
@import url(./css/sobre.css);
@import url(./css/liguagem.css);
/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@700&display=swap');



body,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #000001;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}
